# Entornos virtuales
venv/
.venv/

# Byte-compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# ==================== PyInstaller ====================
build/
dist/
*.spec

# ==================== IDEs ====================
.idea/
.vscode/

# ==================== Logs ====================
src/logs/
src/ui/logs/
*.log
logs/

# ==================== SISTEMA OPERATIVO ====================
# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# ==================== SEGURIDAD ====================
.env
*.key

# ==================== CARPETAS GENERADAS ====================
src/src/